<div
  class="rounded-sm border border-stroke bg-white px-5 pb-2.5 pt-5 shadow-default dark:border-strokedark dark:bg-boxdark sm:px-7.5 xl:pb-1"
>
  <div class="max-w-full overflow-x-auto">
    <!-- Top Section with Search and Create faq Button  -->
    <div class="mb-5 flex justify-between">
      <!-- Search Box -->
      <div class="relative">
        <input
          type="text"
          placeholder="Search faq ..."
          class="rounded-md border py-2 px-3 focus:outline-none dark:border-strokedark dark:bg-boxdark dark:text-white"
        />
      </div>

      <!-- Create faq Button -->
      <a
        href="createFaq.html"
        class="inline-flex items-center justify-center gap-2.5 rounded-md border border-primary px-7 py-2 text-center font-medium text-primary hover:bg-gray-100 lg:px-7 xl:px-8"
      >
        <span>
          <svg
            class="fill-current"
            width="18"
            height="18"
            viewBox="0 0 18 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M9.0002 7.79065C11.0814 7.79065 12.7689 6.1594 12.7689 4.1344C12.7689 2.1094 11.0814 0.478149 9.0002 0.478149C6.91895 0.478149 5.23145 2.1094 5.23145 4.1344C5.23145 6.1594 6.91895 7.79065 9.0002 7.79065ZM9.0002 1.7719C10.3783 1.7719 11.5033 2.84065 11.5033 4.16252C11.5033 5.4844 10.3783 6.55315 9.0002 6.55315C7.62207 6.55315 6.49707 5.4844 6.49707 4.16252C6.49707 2.84065 7.62207 1.7719 9.0002 1.7719Z"
              fill=""
            />
            <path
              d="M10.8283 9.05627H7.17207C4.16269 9.05627 1.71582 11.5313 1.71582 14.5406V16.875C1.71582 17.2125 1.99707 17.5219 2.3627 17.5219C2.72832 17.5219 3.00957 17.2407 3.00957 16.875V14.5406C3.00957 12.2344 4.89394 10.3219 7.22832 10.3219H10.8564C13.1627 10.3219 15.0752 12.2063 15.0752 14.5406V16.875C15.0752 17.2125 15.3564 17.5219 15.7221 17.5219C16.0877 17.5219 16.3689 17.2407 16.3689 16.875V14.5406C16.2846 11.5313 13.8377 9.05627 10.8283 9.05627Z"
              fill=""
            />
          </svg>
        </span>
        Create FAQ
      </a>
    </div>
    <table class="w-full table-auto">
      <thead>
        <tr class="bg-gray-2 text-left dark:bg-meta-4">
          <th
            class="min-w-[100px] px-4 py-4 font-medium text-black dark:text-white xl:pl-11"
          >
            No.
          </th>
          <th
            class="min-w-[220px] px-4 py-4 font-medium text-black dark:text-white xl:pl-11"
          >
            Question
          </th>
          <th
            class="min-w-[150px] px-4 py-4 font-medium text-black dark:text-white"
          >
            Answer
          </th>
          <th
            class="min-w-[120px] px-4 py-4 font-medium text-black dark:text-white"
          >
            Created by
          </th>
          <th
            class="min-w-[120px] px-4 py-4 font-medium text-black dark:text-white"
          >
            Created Date
          </th>
          <th class="px-4 py-4 font-medium text-black dark:text-white">
            Actions
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td
            class="border-b border-[#eee] px-4 py-5 pl-9 dark:border-strokedark xl:pl-11"
          >
            <h5 class="font-medium text-black dark:text-white">1</h5>
          </td>
          <td
            class="border-b border-[#eee] px-4 py-5 pl-9 dark:border-strokedark xl:pl-11"
          >
            <h5 class="font-medium text-black dark:text-white">
              How to Lorem?
            </h5>
          </td>
          <td class="border-b border-[#eee] px-4 py-5 dark:border-strokedark">
            <p class="text-black dark:text-white">Lorem ipsum dolor.</p>
          </td>
          <td class="border-b border-[#eee] px-4 py-5 dark:border-strokedark">
            <p class="text-black dark:text-white">Admin</p>
          </td>
          <td class="border-b border-[#eee] px-4 py-5 dark:border-strokedark">
            <p class="text-black dark:text-white">10/9/2024</p>
          </td>
          <td class="border-b border-[#eee] px-4 py-5 dark:border-strokedark">
            <div class="flex items-center space-x-3.5">
              <button class="hover:text-primary" title="edit">
                <a href="editFaq.html">
                  <svg
                    class="fill-current"
                    width="18"
                    height="18"
                    viewBox="0 0 18 18"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M2 12.5v3h3l8.74-8.74-3-3L2 12.5Zm13.71-8.79a1 1 0 0 0 0-1.42l-1.5-1.5a1 1 0 0 0-1.42 0l-1.71 1.71 3 3 1.63-1.63Z"
                      fill=""
                    />
                  </svg>
                </a>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="my-4 flex items-center justify-between">
      <div>
        <span class="text-sm text-gray-700 dark:text-white">
          Showing <span class="font-medium">1</span> to
          <span class="font-medium">10</span> of
          <span class="font-medium">50</span> results
        </span>
      </div>

      <nav aria-label="Page navigation example">
        <ul class="flex h-8 items-center -space-x-px text-sm">
          <li>
            <a
              href="#"
              class="ms-0 border-e-0 rounded-s-lg flex h-8 items-center justify-center rounded-l-lg border border-gray-300 bg-white px-3 leading-tight text-gray-500 hover:bg-gray-100 hover:text-primary dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
            >
              <span class="sr-only">Previous</span>
              <svg
                class="h-2.5 w-2.5 rtl:rotate-180"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 6 10"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M5 1 1 5l4 4"
                />
              </svg>
            </a>
          </li>
          <li>
            <a
              href="#"
              class="flex h-8 items-center justify-center border border-gray-300 bg-white px-3 leading-tight text-gray-500 hover:bg-gray-100 hover:text-primary dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
              >1</a
            >
          </li>
          <li>
            <a
              href="#"
              class="flex h-8 items-center justify-center border border-gray-300 bg-white px-3 leading-tight text-gray-500 hover:bg-gray-100 hover:text-primary dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
              >2</a
            >
          </li>
          <li>
            <a
              href="#"
              aria-current="page"
              class="z-10 flex h-8 items-center justify-center border border-gray-300 bg-blue-50 px-3 leading-tight text-primary hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white"
              >3</a
            >
          </li>
          <li>
            <a
              href="#"
              class="flex h-8 items-center justify-center border border-gray-300 bg-white px-3 leading-tight text-gray-500 hover:bg-gray-100 hover:text-primary dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
              >4</a
            >
          </li>
          <li>
            <a
              href="#"
              class="flex h-8 items-center justify-center border border-gray-300 bg-white px-3 leading-tight text-gray-500 hover:bg-gray-100 hover:text-primary dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
              >5</a
            >
          </li>
          <li>
            <a
              href="#"
              class="rounded-e-lg flex h-8 items-center justify-center rounded-r-lg border border-gray-300 bg-white px-3 leading-tight text-gray-500 hover:bg-gray-100 hover:text-primary dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
            >
              <span class="sr-only">Next</span>
              <svg
                class="h-2.5 w-2.5 rtl:rotate-180"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 6 10"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m1 9 4-4-4-4"
                />
              </svg>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
