<div
        class="rounded-sm border border-stroke bg-white px-5 pb-2.5 pt-5 shadow-default dark:border-strokedark dark:bg-boxdark sm:px-7.5 xl:pb-1"
>
  <div class="max-w-full overflow-x-auto">
    <!-- Top Section with Search and Create faq Button  -->
    <table class="w-full table-auto">
      <thead>
      <tr class="bg-gray-2 text-left dark:bg-meta-4">
        <th
                class="w-[5%] px-4 py-4 font-medium text-black dark:text-white xl:pl-11"
        >
          No.
        </th>
        <th
                class="w-[25%] px-4 py-4 font-medium text-black dark:text-white xl:pl-11"
        >
          Product Name
        </th>
        <th class="w-[20%] px-4 py-4 font-medium text-black dark:text-white">
          Inquirer Name
        </th>

        <th class="w-[20%] px-4 py-4 font-medium text-black dark:text-white">
          Inquirer Phone
        </th>
        <th class="w-[20%] px-4 py-4 font-medium text-black dark:text-white">
          Inquirer Email
        </th>
        <th
                class="w-[5%] px-4 py-4 font-medium text-black dark:text-white"
        ></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td
                class="border-b border-[#eee] px-4 py-5 pl-9 dark:border-strokedark xl:pl-11"
        >
          <h5 class="font-medium text-black dark:text-white">1</h5>
        </td>
        <td
                class="border-b border-[#eee] px-4 py-5 pl-9 dark:border-strokedark xl:pl-11"
        >
          <h5 class="font-medium text-black dark:text-white">
            Simple Life Insurance
          </h5>
        </td>
        <td class="border-b border-[#eee] px-4 py-5 dark:border-strokedark">
          <p class="text-black dark:text-white">Thomas Gray</p>
        </td>
        <td class="border-b border-[#eee] px-4 py-5 dark:border-strokedark">
          <p class="text-black dark:text-white">09988887889</p>
        </td>
        <td class="border-b border-[#eee] px-4 py-5 dark:border-strokedark">
          <p class="text-black dark:text-white">inquirer@mail</p>
        </td>

        <td class="border-b border-[#eee] px-4 py-5 dark:border-strokedark">
          <div class="flex items-center justify-center space-x-3.5">
            <button class="hover:text-primary" title="view-detail">
              <a href="view-product-inquirer.html">
                <svg
                        class="svg-icon"
                        style="
                      width: 1em;
                      height: 1em;
                      vertical-align: middle;
                      fill: currentColor;
                      overflow: hidden;
                    "
                        version="1.1"
                        viewBox="0 0 1024 1024"
                        xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                          d="M511.967 683.503c-94.583 0-171.531-76.948-171.531-171.53 0-94.583 76.948-171.531 171.531-171.531 94.583 0 171.531 76.948 171.531 171.531 0.001 94.581-76.948 171.53-171.531 171.53z m0-273.061c-55.984 0-101.531 45.546-101.531 101.531s45.546 101.53 101.531 101.53 101.531-45.546 101.531-101.53-45.546-101.531-101.531-101.531z"
                  />
                  <path
                          d="M512.569 833.251c-95.474 0-187.599-28.179-266.417-81.49-76.771-51.928-136.477-124.411-172.661-209.613-8.148-19.215-8.139-41.201 0.019-60.338 36.128-85.169 95.822-157.665 172.604-209.592 78.808-53.297 170.946-81.468 266.456-81.468 94.28 0 185.431 27.517 263.599 79.575 76.097 50.679 135.838 121.644 172.765 205.221 10.243 23.184 10.243 49.778 0 72.963-36.932 83.558-96.672 154.505-172.767 205.175-78.172 52.053-169.323 79.567-263.598 79.567z m0-572.502c-81.478 0-160.056 24.016-227.241 69.453-65.566 44.341-116.536 106.239-147.4 179-0.721 1.692-0.711 3.919 0.001 5.598 30.889 72.734 81.876 134.629 147.442 178.978 67.194 45.449 145.757 69.473 227.198 69.473 80.423 0 158.158-23.456 224.799-67.832 64.986-43.272 116.003-103.857 147.537-175.204 2.23-5.049 2.23-11.326-0.002-16.378-31.532-71.37-82.55-131.97-147.536-175.25-66.638-44.38-144.372-67.838-224.798-67.838z"
                  />
                </svg>
              </a>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="my-4 flex items-center justify-between">
      <div>
        <span class="text-sm text-gray-700 dark:text-white">
          Showing <span class="font-medium">1</span> to
          <span class="font-medium">10</span> of
          <span class="font-medium">50</span> results
        </span>
      </div>

      <nav aria-label="Page navigation example">
        <ul class="flex h-8 items-center -space-x-px text-sm">
          <li>
            <a
                    class="ms-0 border-e-0 rounded-s-lg flex h-8 items-center justify-center rounded-l-lg border border-gray-300 bg-white px-3 leading-tight text-gray-500 hover:bg-gray-100 hover:text-primary dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                    href="#"
            >
              <span class="sr-only">Previous</span>
              <svg
                      aria-hidden="true"
                      class="h-2.5 w-2.5 rtl:rotate-180"
                      fill="none"
                      viewBox="0 0 6 10"
                      xmlns="http://www.w3.org/2000/svg"
              >
                <path
                        d="M5 1 1 5l4 4"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                />
              </svg>
            </a>
          </li>
          <li>
            <a
                    class="flex h-8 items-center justify-center border border-gray-300 bg-white px-3 leading-tight text-gray-500 hover:bg-gray-100 hover:text-primary dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                    href="#"
            >1</a
            >
          </li>
          <li>
            <a
                    class="flex h-8 items-center justify-center border border-gray-300 bg-white px-3 leading-tight text-gray-500 hover:bg-gray-100 hover:text-primary dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                    href="#"
            >2</a
            >
          </li>
          <li>
            <a
                    aria-current="page"
                    class="z-10 flex h-8 items-center justify-center border border-gray-300 bg-blue-50 px-3 leading-tight text-primary hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white"
                    href="#"
            >3</a
            >
          </li>
          <li>
            <a
                    class="flex h-8 items-center justify-center border border-gray-300 bg-white px-3 leading-tight text-gray-500 hover:bg-gray-100 hover:text-primary dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                    href="#"
            >4</a
            >
          </li>
          <li>
            <a
                    class="flex h-8 items-center justify-center border border-gray-300 bg-white px-3 leading-tight text-gray-500 hover:bg-gray-100 hover:text-primary dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                    href="#"
            >5</a
            >
          </li>
          <li>
            <a
                    class="rounded-e-lg flex h-8 items-center justify-center rounded-r-lg border border-gray-300 bg-white px-3 leading-tight text-gray-500 hover:bg-gray-100 hover:text-primary dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                    href="#"
            >
              <span class="sr-only">Next</span>
              <svg
                      aria-hidden="true"
                      class="h-2.5 w-2.5 rtl:rotate-180"
                      fill="none"
                      viewBox="0 0 6 10"
                      xmlns="http://www.w3.org/2000/svg"
              >
                <path
                        d="m1 9 4-4-4-4"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                />
              </svg>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
